.navbar {
    background:black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 60px;
    justify-content: space-between;
}

.navbar-logo a {
    color:white;
    font-weight: bold;
    font: size 1.2em;
}

.navbar-links {
    list-style:none;
    display:flex;
    gap: 24px;
    margin:0;
    padding:0;
}

.navbar-links li a {
    color:white;
    padding:8px 0;
    transition:border-bottom 0.2s;
}

.navbar-links li a.active,
.navbar-linls li a:hover {
    border-bottom: 2px solid #a30505;
}